<ul class="comments">
    <li class="media">
        <div class="media-left">
            <a href="">
                <img src="images/people/50/guy-5.jpg" class="media-object">
            </a>
        </div>
        <div class="media-body">
            <div class="pull-right dropdown" data-show-hover="li">
                <a href="#" data-toggle="dropdown" class="toggle-button">
                    <i class="fa fa-pencil"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </div>
            <a href="" class="comment-author pull-left">Bill D.</a>
            <span>Hi Mary, Nice Party</span>
            <div class="comment-date">21st September</div>
        </div>
    </li>
    <li class="media">
        <div class="media-left">
            <a href="">
                <img src="images/people/50/woman-5.jpg" class="media-object">
            </a>
        </div>
        <div class="media-body">
            <div class="pull-right dropdown" data-show-hover="li">
                <a href="#" data-toggle="dropdown" class="toggle-button">
                    <i class="fa fa-pencil"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </div>
            <a href="" class="comment-author pull-left">Mary</a>
            <span>Thanks Bill</span>
            <div class="comment-date">2 days</div>
        </div>
    </li>
    <li class="media">
        <div class="media-left">
            <a href="">
                <img src="images/people/50/guy-5.jpg" class="media-object">
            </a>
        </div>
        <div class="media-body">
            <div class="pull-right dropdown" data-show-hover="li">
                <a href="#" data-toggle="dropdown" class="toggle-button">
                    <i class="fa fa-pencil"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </div>
            <a href="" class="comment-author pull-left">Bill D.</a>
            <span>Galagapi nedir?</span>
            <div class="comment-date">14 min</div>
        </div>
    </li>
    <li class="comment-form">
        <div class="input-group">

            <span class="input-group-btn">
                <a href="" class="btn btn-default"><i class="fa fa-photo"></i></a>
            </span>

            <input type="text" class="form-control" />

        </div>
    </li>
</ul>