<div class="wrapper">
    <div class="image">
        <img src="images/profile-cover.jpg" alt="people" />
    </div>
    <ul class="friends">
        <li>
            <a href="#">
                <img src="images/people/110/guy-6.jpg" alt="people" class="img-responsive">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/people/110/woman-3.jpg" alt="people" class="img-responsive">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/people/110/guy-2.jpg" alt="people" class="img-responsive">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/people/110/guy-9.jpg" alt="people" class="img-responsive">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/people/110/woman-9.jpg" alt="people" class="img-responsive">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/people/110/guy-4.jpg" alt="people" class="img-responsive">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/people/110/guy-1.jpg" alt="people" class="img-responsive">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/people/110/woman-4.jpg" alt="people" class="img-responsive">
            </a>
        </li>
        <li><a href="#" class="group"><i class="fa fa-group"></i></a></li>
    </ul>
</div>
