<div class="cover-info">
    <div class="avatar">
        <img src="images/people/110/frank.jpg" alt="people" />
    </div>
    <div class="name"><a href="#">Frank Ghallager</a></div>
    <ul class="cover-nav">

        <li class="active"><a href="index.html"><i class="fa fa-fw icon-ship-wheel"></i> Timeline</a></li>
        <li><a href="profile.html"><i class="fa fa-fw icon-user-1"></i> About</a></li>
        <li><a href="users.html"><i class="fa fa-fw fa-users"></i> Friends</a></li>

    </ul>
</div>